h1 {
  text-align: center;
  color: hsl(354, 95%, 45%);
  margin: 300px;
}
.img_title{
  text-align: center;
}
form{
  padding: 40px ;
}
button {   /* juste selection de button avec un float right */
  background-color: #f5c0c0;
  float: right;
}
.demi{
  width: 98%;
  margin-right: 100px;
}
.flex-container{
  display: flex;
  flex-direction: row;
 justify-content: space-between
}
.classeForm {
  position:absolute;
  width: 700px;
  margin:0px 320px; /* -largeur/2 */

}

.App1 img{
  position: absolute;
  width: 100%;
    height: auto;
    opacity: 0.6;
}

Form.Label{
 text-decoration-color:rgb(243, 117, 117);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
